@tailwind base;
@tailwind components;
@tailwind utilities;

/* Slider Home */

.slider {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
}

.slide {
  flex: 1 0 auto;
}
